<%- include('snippets/header'); %>
<h1>RICOH THETA Image Files Read from Camera Filesystem</h1>


<div class = "row">

      
  <%      imageNames.forEach((imageName) => {   %>
    <div class="col-md-4">
      <img width="300" src="/100RICOH/<%= imageName %>" >
    </div>
<%      });   %>


  </div>
<%- include('snippets/footer'); %>

